<header class="header-about main-header">
  <h1>Happy Bikeshop Amsterdam</h1>
</header>
<div class= "container">
  <div class="row">
    <div class="col-xs-12 col-lg- 6column-about">
      <h2>Waarom bij ons een fiets aanschaffen?</h2>
      <p>  Mark: "Happy Bikeshop in Amsterdam is jouw duurzame fietsenwinkel het aankopen van je fiets. Fietsenwinkel Happy Bike Shop in Amsterdam biedt jou een ruime keuze aan fietsen met een tweede leven. Na binnenkomst wordt de fiets helemaal opgeknapt en klaar voor gebruik gemaakt voor jou, de volgende eigenaar!</p>
      <p>Kies voor een stadsfiets, transportfiets of electrische fiets. Ook als je fiets kapot is ben je bij ons aan het goede adres. Wij repareren je fiets snel en vakkundig."</p>
      <p> "Naast de aankoop van je fiets adviseren we over de voordeligste fietsverzekering en het onderhoud van je fiets. Happy Bikeshop Amsterdam helpt je met plezier de stad door op je nieuwe, teedehands fiets!"</p>
      <p>"Meer dan 100% klanttevredenheid. Daar gaan wij voor!"</p>
    </div><!-- end col-->
    <div class="col-xs-12 col-lg- 6column-about">
    <h2>Mark, owner Happy Bikeshop</h2>
    <%= image_tag "shop-owner.jpeg", class: "img-responsive owner-image" %>
    </div><!-- end col-->
  </div><!-- end row main text -->
</div><!-- end container_text-->
