<table>
  <tbody>
    <tr>
      <td><h2>Thank you!’</h2></td>
    </tr>
    <tr>
      <td><p>Thank you for your purchase of <%= @product.name %> for <%= @product.price %> with Happy Bikeshop!</p></td>
    </tr>
    <tr>
      <td><p><strong>Your Happy Bikeshop Team!</strong></p></td>
    </tr>
  </tbody>
</table>