<div class="container payment-message">
  <div class="row">
    <div class="col-md-6 col-xs-12">
    <p>Thank you for your purchase of <%= @product.name %> for <%= @product.price %> with Happy Bikeshop!</p></p>
    <p>Leave a comment on our page! <%= link_to 'comments', comments_path, class: "comments-p" %></p>
  </div><!-- / panel-body -->
</div><!-- / panel -->