<div class="container payment-message">
  <div class="row">
    <div class="col-md-6 col-xs-12">
    <p>"Thank you for your purchase"</p>
    <p><%= link_to 'Back', products_path %></p>
  </div><!-- / panel-body -->
</div><!-- / panel -->