<div class="panel panel-default">
  <div class="panel-body">
    <p>"Thank you for your purchase"</p>
  </div><!-- / panel-body -->
  <div class= "button button-default">
  	<%= link_to 'Back', products_path %>
  </div>
</div><!-- / panel -->