#first {
  min-height: 100%;
  position: relative;
  text-align: center;
  color: #FFF;
  width:100%;
  background-color: #c9c9c9;
  background: image-url('frog.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
  background-attachment: fixed;
}

header .header-content {
  position: relative;
  width: 100%;
  padding: 150px 15px;
  text-align: center;
  z-index: 2;
  color: #FFF;
}

#cursive {
  color: #000;
  text-align: center;
  padding-top: 35px;
}

.col-p {
  font-size: 1.9em;
  text-align: left;
  margin-right: 50px;  
}

@media screen and (min-width: 1200px){
  .container-inner {
    width: 990px;
  }
}

.container-fluid h2 {
  font-size: -webkit-xxx-large;
  padding-top: 35px;
}

.container-fluid p {
  color: rgb(65, 244, 169)!important;
  font-family: 'Dancing Script',cursive;
}

.col-carousel {
  float: left;
}

.carousel {
  position: relative;
  margin: 15px 5px 15px 5px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #FFF;
}

.carousel-indicators li {
  background-color:#999;
  border: 0;
  border-radius: 0;
}

.carousel-indicators>.active {
  background-color: #000;
}