
.second { 
  color: rgb(40, 96, 144);
  min-height: 450px;
  text-align: center;
}

.second h1 {
  color: rgb(249, 187, 3);
  padding-bottom: 35px;
}

label {
  display: block;
  margin: 0 auto;
  position: relative;
}

.container-form {
  border-color: rgb(0, 0, 0);
  display: block;
  margin: 0 auto;
  padding: 35px;
  border-style: solid;
}

#product_colour, 
#product_price,
#product_name,
#product_description,
#product_image_url {
  margin: 0 auto;
  border-style: solid;
  border-color: rgb(0, 0, 0);
}

.new-product {
  width:100%;
  height: 500px;
}

.actions {
  width: 100%;
  margin: 0 auto;
  font-size: 1.9em;
}
.container-back {
  display: block;
  position: relative;
  padding-top: 35px;
}

#backh2 {
  text-align: center;
  padding: 35px;
  font-size: 35px;
}

.container-edit {
  height: 1200px;
  margin: 0 auto;
}