// Place all the styles related to the products controller here.
#add-bikes {
  min-height: 100%;
  background-color: rgb(255, 126, 172);
  width: 100%;
  padding-bottom:35px;
}

#table-bg {
  background-color: rgb(195, 126, 255);
}

.container-fluid h2 {
  color: #000;
}

.container-fluid p, a {
  text-align: left;
  width:100%;
  color: #000;
}

.row {
  display:block;
  width:80%;
  margin: 0 auto;
  padding-top:35px;
}

.add-product {
  text-align: center;
  min-height: 100px;
  font-size: 1.9em;
}

.add-product a {
  background-color: rgb(255, 192, 203);
  margin: 0 auto;
  padding: 15px;
}
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
