// Main
* {
  margin:0;
}

html, body {
  font-family: 'Righteous', cursive;
  width: 100%;
  background-color: transparent;
}

.index-bg {
  background: image-url('frog.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 1000px;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -142px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after { height: 142px; }

// Typhography

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 3.6em;
  font-weight: 900;
  color: rgb(255, 255, 255);
  padding-top: 2.5em;
}

h2 {
  text-align: center;
  font-size: 1.7em;
  font-weight: 400;
  color: rgb(65, 244, 169)
}

p {
  text-align: center;
  font-size: 1.4em;
  font-weight: 100;
  color: rgb(65, 244, 169)
}

// Navigation

.navbar, navbar-default{
  display: inline-block;
  margin: 15px 12px 10px 20px;
  background-color: transparent;
  padding-bottom: 35px;
  border-color: transparent;
}

@media (max-width: 425px) {
  .navbar-collapse {
  background-color: black;
  z-index: 999;
  }
}

.navbar .navbar-brand { color: transparent; }

.navbar .navbar-nav>li>a {
  background-color: transparent;
  color: rgb(249, 187, 3);
  font-size: 25px;
}

.navbar-nav>li>.dropdown-menu { background-color: rgba(254, 255, 255, 0.5); }

.navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: rgba(249, 187, 3, 1);
}

.navbar .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: rgb(64, 243, 148); }

.navbar-nav>.open>a:focus,
.dropdown-menu a,
.navbar-toggle,
.navbar-default .navbar-nav>
.open>a:hover {
  color: #41f4a9;
}

.navbar-default .navbar-nav>.active>a { background-color: rgba(244, 170, 66, 0.5); }

.navbar-default .navbar-nav>.active>a {
  color: rgb(14, 23, 0);
}

.btn-default:hover {
  color: rgba(249, 187, 3, 1);
  background-color: rgba(0, 130, 173, 0.5);
}

// Logo
.navbar-brand {
  padding:0 10px;
}

// Header

.main-header {
  width: 100%;
  height: 400px;
  margin: -25px 0 20px;
  background-color: grey;
}

.header-about {
  background-image: url("color-bikes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 35px;
}

// Contact
.header-contact {
  background-image: url("bicycle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height:1500px;
}

.header-contact h1 {
  color: rgba(249, 187, 3, 1);
  padding-bottom: 35px;
}

.container-contact, container{
  display: block;
  background-color:rgb(245, 245, 245);
  border-radius: 20px;
}

.column-contact,
.header-contact h2 {
  margin: 35px 0 35px 0;
}

@media screen and (min-width: 1200px) {
  .container {
  width: 690px;
  }
}

.container p {
  text-align:left;
}

.message-box { width: 80%; }

.form-control { width: 80%; }

label { color: #34495e; }

// Images

.bike-image {
  position: relative;
  margin: 0 auto;
  padding-top: 30px;
}

.frog-image {
  position: relative;
  width: 100%;
  background-position: center;
}

.owner-image {
margin: 0 auto;
padding-bottom: 35px;

}
// About
.container p {
  text-align: left;
  color: #000;
}
.column-about {
  margin:0 auto;
  display:block;
  padding-bottom:35px;
}
.container h2 {
  padding-top: 25px;
  padding-bottom: 25px;
}

//Footer

footer {
  height: 142px;
  text-align: center;
  width: 100%;
  color: rgba(249, 187, 3, 1);
  background-color: #000;
  padding-top: 35px;
}

// They will automatically be included in application.css.

// You can use Sass (SCSS) here: http://sass-lang.com/
