// Place all the styles related to the users controller here.

.new_user {
  visible: visible;
}

.users, 
.new_user {
  position: relative;
  max-width: 400px;
  margin: 50px auto auto auto;
  padding: 20px;
  background: rgb(205, 210, 207);
}

.login-form,
.confirmation-form,
.passwords-form,
.forgot-password,
.container-signup { 
  background-color: rgba(0, 0, 0, .5);
  padding-top: 100px; 
  height: 1200px;
  margin: 0 auto;
  width: 100%;
  color: rgb(68, 68, 68);
}

.users h2 { text-align: center; }

.login label {
  display: block;
  padding: 5px 0;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 70%;
  letter-spacing: 2px;
  color: #000;
}

.actions {
  margin: 20px 0 0;
  border: none;
  background: rgb(169, 169, 142);  
  text-transform: uppercase;
  text-align: center;
}

.links {
  max-width: 400px;
  background-color: white;
  padding: 10px;
  font-family: sans-serif;
}

.input-emailfield,
.input-password,
.input-confirmation {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 0;
  -webkit-appearance: none;
  font-size: medium;
}

// Sign up //

.container-signup {
  padding: 100px;
  width: 100%;
}

.container-signup h2,
.forgot-password h2 {
  text-align: center;
  padding-top: 100px;
}

// Password //

.text-submit {
  font-size: 16px;
} 


// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
