
<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class= "container container-edit">
      <h1>New Category</h1>

      <%= render 'form', category: @category %>

      <%= link_to 'Back', categories_path %>
    </div>
  </div>
</div>
