<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class= "container container-edit">
      <h1 id= "edith1">Edit Product</h1>
      <%= render 'form', product: @product %>
      <%= link_to 'Show', @product %> |
      <%= link_to 'Back', products_path %>
    </div>
  </div>
</div>