<div class= "container" id="header-bg">
  <p id="notice"><%= notice %></p>
    <h1>Bikes</h1>
</div>

<div class= "add-product">
  <h2><%= link_to 'New Product', new_product_path %><h2>
</div>
<div class="container container-products">
  <div class= "row">
    <% @products.each do |product| %>
      <%= render partial: "product", locals: {product: product} %>
    <% end %>
  </div><!--end row-->
  <p><div class="text-center"><%= will_paginate @products %></div></p>
  <br>
</div><!--end container-fluid-->











